* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#wrapper {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#request-list {
  flex: 0 0 auto;
  overflow: auto;
}

#resizer {
  flex: 0 0 auto;
  content: '';
  display: block;
  height: 100%;
  width: 3px;
  background: #ccc;
  cursor: ew-resize;
}

#debug-toolbar-panel {
  flex: 1 1 auto;
  border: none;
}

#debug-toolbar-panel.blocked {
  pointer-events: none;
}

.request {
  font-family: Ubuntu, Arial;
  font-size: 11px;

  height: 3em;
  line-height: 3em;
  padding-left: 0.5em;
  cursor: pointer;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.request:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

.request:hover {
  background: #ffc;
}

.request.selected {
  font-weight: bold;
  background: #d0dffa;
}
